.dark, .dark-theme {
  --custom-1: #1b1b1a;
  --custom-2: #20201f;
  --custom-3: #2b2b2a;
  --custom-4: #343433;
  --custom-5: #3c3c3b;
  --custom-6: #474745;
  --custom-7: #545453;
  --custom-8: #666664;
  --custom-9: #dddddc;
  --custom-10: #d3d3d2;
  --custom-11: #babab9;
  --custom-12: #e3e3e2;

  --custom-a1: #031b020a;
  --custom-a2: #c7f0c606;
  --custom-a3: #f1fef012;
  --custom-a4: #f7fff61c;
  --custom-a5: #f9fff825;
  --custom-a6: #f7fcf232;
  --custom-a7: #fcfffb40;
  --custom-a8: #fdfff954;
  --custom-a9: #fffffed9;
  --custom-a10: #fffffece;
  --custom-a11: #fffffeb2;
  --custom-a12: #fffffee0;

  --custom-contrast: #24230a;
  --custom-surface: #24252380;
  --custom-indicator: #dddddc;
  --custom-track: #dddddc;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --custom-1: oklch(22.3% 0.002 106.4);
      --custom-2: oklch(24.5% 0.002 106.4);
      --custom-3: oklch(28.9% 0.002 106.4);
      --custom-4: oklch(32.4% 0.002 106.4);
      --custom-5: oklch(35.7% 0.002 106.4);
      --custom-6: oklch(39.6% 0.002 106.4);
      --custom-7: oklch(44.5% 0.002 106.4);
      --custom-8: oklch(50.9% 0.002 106.4);
      --custom-9: oklch(89.7% 0.001 106.4);
      --custom-10: oklch(86.7% 0.001 106.4);
      --custom-11: oklch(78.9% 0.002 106.4);
      --custom-12: oklch(91.5% 0.001 106.4);

      --custom-a1: color(display-p3 0.008 0.106 0.004 / 0.038);
      --custom-a2: color(display-p3 0.824 1 0.82 / 0.022);
      --custom-a3: color(display-p3 0.941 0.992 0.937 / 0.071);
      --custom-a4: color(display-p3 0.969 1 0.965 / 0.11);
      --custom-a5: color(display-p3 0.976 1 0.973 / 0.145);
      --custom-a6: color(display-p3 0.984 1 0.961 / 0.193);
      --custom-a7: color(display-p3 0.988 1 0.984 / 0.25);
      --custom-a8: color(display-p3 0.992 1 0.976 / 0.329);
      --custom-a9: color(display-p3 1 1 0.996 / 0.851);
      --custom-a10: color(display-p3 1 1 0.996 / 0.808);
      --custom-a11: color(display-p3 1 1 0.996 / 0.698);
      --custom-a12: color(display-p3 1 1 0.996 / 0.878);

      --custom-contrast: #24230a;
      --custom-surface: color(display-p3 0.141 0.141 0.133 / 0.5);
      --custom-indicator: oklch(89.7% 0.001 106.4);
      --custom-track: oklch(89.7% 0.001 106.4);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #1b1b1b;
  --gray-2: #212121;
  --gray-3: #2a2a2a;
  --gray-4: #303030;
  --gray-5: #363636;
  --gray-6: #3e3e3e;
  --gray-7: #4b4b4a;
  --gray-8: #626261;
  --gray-9: #6e6e6c;
  --gray-10: #7a7a79;
  --gray-11: #b3b3b2;
  --gray-12: #ededed;

  --gray-a1: #031b1b0a;
  --gray-a2: #d3f6f607;
  --gray-a3: #eefcfc11;
  --gray-a4: #f1fbfb18;
  --gray-a5: #f2fafa1f;
  --gray-a6: #f5fbfb28;
  --gray-a7: #fafef936;
  --gray-a8: #fcfdfa50;
  --gray-a9: #fdfffa5d;
  --gray-a10: #fdfdfb6b;
  --gray-a11: #fffffeaa;
  --gray-a12: #ffffffeb;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6e6e6c;
  --gray-track: #6e6e6c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(22.3% 0.001 106.4);
      --gray-2: oklch(25% 0.001 106.4);
      --gray-3: oklch(28.4% 0.001 106.4);
      --gray-4: oklch(30.9% 0.001 106.4);
      --gray-5: oklch(33.3% 0.001 106.4);
      --gray-6: oklch(36.4% 0.001 106.4);
      --gray-7: oklch(41.1% 0.001 106.4);
      --gray-8: oklch(49.6% 0.001 106.4);
      --gray-9: oklch(53.7% 0.002 106.4);
      --gray-10: oklch(58% 0.002 106.4);
      --gray-11: oklch(76.6% 0.001 106.4);
      --gray-12: oklch(94.7% 0 106.4);

      --gray-a1: color(display-p3 0.004 0.11 0.11 / 0.036);
      --gray-a2: color(display-p3 0.839 0.98 0.98 / 0.027);
      --gray-a3: color(display-p3 0.945 1 1 / 0.066);
      --gray-a4: color(display-p3 0.957 0.992 0.992 / 0.093);
      --gray-a5: color(display-p3 0.969 0.996 0.996 / 0.119);
      --gray-a6: color(display-p3 0.976 1 1 / 0.154);
      --gray-a7: color(display-p3 0.984 1 0.98 / 0.211);
      --gray-a8: color(display-p3 0.992 0.996 0.984 / 0.312);
      --gray-a9: color(display-p3 0.992 1 0.976 / 0.365);
      --gray-a10: color(display-p3 0.996 1 0.988 / 0.417);
      --gray-a11: color(display-p3 1 1 0.996 / 0.667);
      --gray-a12: color(display-p3 1 1 1 / 0.922);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.7% 0.002 106.4);
      --gray-track: oklch(53.7% 0.002 106.4);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #1c1b1b;
}

:root, .light, .light-theme {
  --custom-1: #d9d7d7;
  --custom-2: #d3d1d1;
  --custom-3: #c7c5c5;
  --custom-4: #bdbbbb;
  --custom-5: #b3b1b1;
  --custom-6: #a9a7a7;
  --custom-7: #9d9b9b;
  --custom-8: #898787;
  --custom-9: #1c1b1b;
  --custom-10: #333131;
  --custom-11: #3a3838;
  --custom-12: #212020;

  --custom-a1: #4c032607;
  --custom-a2: #2703140e;
  --custom-a3: #15030b1c;
  --custom-a4: #11050a28;
  --custom-a5: #0b010533;
  --custom-a6: #0b03063f;
  --custom-a7: #0a03044d;
  --custom-a8: #07020364;
  --custom-a9: #010000e0;
  --custom-a10: #030001c7;
  --custom-a11: #040102bf;
  --custom-a12: #020101db;

  --custom-contrast: #fff;
  --custom-surface: #d1cececc;
  --custom-indicator: #1c1b1b;
  --custom-track: #1c1b1b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --custom-1: oklch(88% 0.002 17.27);
      --custom-2: oklch(86.1% 0.002 17.27);
      --custom-3: oklch(82.5% 0.002 17.27);
      --custom-4: oklch(79.3% 0.002 17.27);
      --custom-5: oklch(76.3% 0.002 17.27);
      --custom-6: oklch(73.1% 0.002 17.27);
      --custom-7: oklch(69.1% 0.002 17.27);
      --custom-8: oklch(62.6% 0.002 17.27);
      --custom-9: oklch(22.3% 0.002 17.27);
      --custom-10: oklch(31.6% 0.002 17.27);
      --custom-11: oklch(34.3% 0.002 17.27);
      --custom-12: oklch(24.3% 0.002 17.27);

      --custom-a1: color(display-p3 0.31 0.027 0.165 / 0.028);
      --custom-a2: color(display-p3 0.157 0.012 0.082 / 0.055);
      --custom-a3: color(display-p3 0.078 0.004 0.035 / 0.109);
      --custom-a4: color(display-p3 0.055 0.004 0.024 / 0.154);
      --custom-a5: color(display-p3 0.043 0.004 0.02 / 0.2);
      --custom-a6: color(display-p3 0.035 0.004 0.016 / 0.245);
      --custom-a7: color(display-p3 0.027 0.004 0.012 / 0.299);
      --custom-a8: color(display-p3 0.024 0.004 0.012 / 0.39);
      --custom-a9: color(display-p3 0.004 0 0 / 0.878);
      --custom-a10: color(display-p3 0.012 0 0 / 0.779);
      --custom-a11: color(display-p3 0.012 0 0 / 0.747);
      --custom-a12: color(display-p3 0.004 0 0 / 0.856);

      --custom-contrast: #fff;
      --custom-surface: color(display-p3 0.816 0.808 0.808 / 0.8);
      --custom-indicator: oklch(22.3% 0.002 17.27);
      --custom-track: oklch(22.3% 0.002 17.27);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #d7d7d7;
  --gray-2: #d1d1d1;
  --gray-3: #c6c6c5;
  --gray-4: #bbb;
  --gray-5: #b2b2b2;
  --gray-6: #a8a8a8;
  --gray-7: #9c9c9b;
  --gray-8: #888887;
  --gray-9: #5c5c5b;
  --gray-10: #525251;
  --gray-11: #393938;
  --gray-12: #20201f;

  --gray-a1: #03032607;
  --gray-a2: #0303140e;
  --gray-a3: #0404031b;
  --gray-a4: #05050a28;
  --gray-a5: #02020632;
  --gray-a6: #0404063e;
  --gray-a7: #0303024c;
  --gray-a8: #03030163;
  --gray-a9: #02020096;
  --gray-a10: #020202a2;
  --gray-a11: #030302bf;
  --gray-a12: #020201dc;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #5c5c5b;
  --gray-track: #5c5c5b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(88% 0 106.4);
      --gray-2: oklch(86.1% 0 106.4);
      --gray-3: oklch(82.5% 0 106.4);
      --gray-4: oklch(79.3% 0.001 106.4);
      --gray-5: oklch(76.4% 0.001 106.4);
      --gray-6: oklch(73.2% 0.001 106.4);
      --gray-7: oklch(69.2% 0.001 106.4);
      --gray-8: oklch(62.6% 0.001 106.4);
      --gray-9: oklch(47.4% 0.001 106.4);
      --gray-10: oklch(43.9% 0.001 106.4);
      --gray-11: oklch(34.3% 0.001 106.4);
      --gray-12: oklch(24.3% 0.001 106.4);

      --gray-a1: color(display-p3 0.027 0.027 0.165 / 0.028);
      --gray-a2: color(display-p3 0.012 0.012 0.082 / 0.055);
      --gray-a3: color(display-p3 0.008 0.008 0.004 / 0.105);
      --gray-a4: color(display-p3 0.004 0.004 0.024 / 0.154);
      --gray-a5: color(display-p3 0.004 0.004 0.02 / 0.195);
      --gray-a6: color(display-p3 0.004 0.004 0.016 / 0.24);
      --gray-a7: color(display-p3 0.004 0.004 0.004 / 0.296);
      --gray-a8: color(display-p3 0.008 0.008 0.004 / 0.387);
      --gray-a9: color(display-p3 0.008 0.008 0 / 0.587);
      --gray-a10: color(display-p3 0.008 0.008 0 / 0.632);
      --gray-a11: color(display-p3 0.008 0.008 0 / 0.746);
      --gray-a12: color(display-p3 0.004 0.004 0 / 0.86);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(47.4% 0.001 106.4);
      --gray-track: oklch(47.4% 0.001 106.4);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #dddddc;
}
